# Qwen3-30B-A3B-Thinking entropy generation config

hydra:
  searchpath:
    - file://treetune_verl/generation/config
    - file://treetune_verl/tasks/config
    - file://verl/trainer/config

defaults:
  - generation
  - task_definitions@task_defs
  - entropy_gen
  - _self_

trainer:
  n_gpus_per_node: 4
  experiment_name: qwen3-30b-a3b_hmmt_feb_2025

actor_rollout_ref:
  model:
    path: Qwen/Qwen3-30B-A3B-Thinking-2507
  rollout:
    tensor_model_parallel_size: 4
